[2013-11-27 11:31] ipfans opened #1 "Go source missing"
[code]

It seems a go path searching problem?

Go 1.1.2 darwin x86_64

[2013-11-27 11:50] #1 closed, assigned to nobody

[2014-01-13 09:20] ipfans opened #2 "How to decode bplist?"
I'm trying to write a universal bplist decode for windows by go-list.

But It seems that it doesn't work:

[code]

bval will be nil.

Should I know the plist file content?

Such as

[code]

will crash:

[code]

[2014-01-14 07:57] #2 closed, assigned to nobody

[2014-03-12 01:51] jpoehls opened #3 "More lenient unmarshal type rules"
I'm playing with using this package to unmarshal plist files output by the [Day One app](http://www.dayoneapp.com). They are a bit quirky in that the data types in their plist file change depending on the data. So for example, in one file a value might be `<integer>` but in another `<real>`.

I tried to handle this by making my struct fields `float64` thinking that the less specific `integer` shou

[2014-06-03 22:16] jamra opened #4 "Handle <data> elements"
I don't believe I am able to parse <data> tags.

An example.

...
<string>myItem</string>
<data>3483984-8dfjk===</data>
...

Edit: Let me be more clear... I am able to parse into a []byte, however, when I string() and then fmt.Println() the item, it is illegible. The original text is base64.

[2014-06-03 22:49] #4 closed, assigned to nobody

[2014-10-12 19:03] fwal opened #8 "Package won't work on Google AppEngine"
Trying to use the package on AppEngine results in the following error:

[2015-01-09 20:08] timsutton opened #9 "Cannot parse a plist containing a key with an empty string"
My first attempt with this pkg was trying to parse Apple's Software Update feed at https://swscan.apple.com/content/catalogs/others/index-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog.

It's a dictionary plist, containing a dict called `Products`, and all of its items are dictionaries keyed by an identifier. There are several hundred entries in this list, and _one_ of them (`

[2015-01-10 00:44] DHowett commented on #9
Terrifying! I've likewise never seen that before. `go-plist` certainly should support it.

Incidentally, this raises some questions about the escaping of keys for openstep/gnustep-format plists. I assume it'd be rendered as `""`.

[2015-01-12 03:12] #9 closed

[2015-01-12 03:41] timsutton commented on #9
Looks great - thank you!

I can't really comment on the OpenStep format, never having had to use them to any useful extent, besides having occasionally stumbled upon them.

[2015-02-18 10:49] dkovalkov opened #10 "Decode nested arrays"
Thank you for this useful package. I try to decode this plist:
[code]
I have structs:
[code]

When I decode input file, I get:
[code]
Problem is in decoding Asanas
[code]
How I can do it? Thanks in advance.

[2015-02-18 12:21] dkovalkov commented on #10
That's my fail. Input plist have both types for plist:"time": int and string. Need to deal with it myself. Thank you.

[2015-02-18 12:21] #10 closed

[2015-03-23 09:57] cwimberger opened #12 "Text plist files with values beginning with / are not properly parsed"
We have a xcode project file where a key value pair looks like this: "shellPath = /bin/sh;".
When writing back the plist file, the key value pair becomes "shellPath = in/sh;".

I suspect there is a bug in the chugWhitespace function in the text.go file.

[2015-03-23 10:24] cwimberger commented on #12
I've created an unit test for the case. Seems like the chugWhitespace function would need a lookahead of 2, but UnreadByte() can only be called once.

[code]

[2015-03-23 20:58] DHowett commented on #12
Great catch!

[2015-03-23 21:01] #12 closed

[2015-04-24 14:55] groob opened #13 "Add Marshaller/Unmarshaller interface for working with custom types."
Please add a interface similar to UnmarshallJSON and MarshallJSON. An interface would lend itself better to work with custom types.
See this talk on JSON for usage: http://talks.golang.org/2015/json.slide#1
To give you a more concrete example, I would like to be able to do the following:

[code]

[2015-05-05 09:46] nhelke commented on #13
Would the work I have done in #11 suit you @groob ?

[2015-05-31 10:45] sarim opened #14 "xml bool not working properly"
In xml, bool types are encoded as string. If i set go type to `bool`. It doesn't work, always returns false. But if i set go type to `string`, it returns `yes` as string. But i want it to decode to bool type. Also it seems like `plist.Unmarshal` doesn't call the struct's `UnmarshalPlist` method either. I could use a auxiliary struct to fix this inside UnmarshalPlist method.

[2015-05-31 18:51] DHowett commented on #14
Can you include an example of a plist that's failing? The test cases include `<true/>` and `<false/>`, which are the only correct encodings for booleans.

UnmarshalPlist support is not yet merged, but it is on my list of things to do!

[2015-05-31 19:47] sarim commented on #14
a part of `$ system_profiler SPUSBDataType -xml > test.plist`

[code]

See the `removable_media` entry.

[2015-05-31 19:57] DHowett commented on #14
That is in fact a string containing `yes`. In XML property lists, booleans are encoded as `<true/>` and `<false/>`.

Unfortunately, it appears as though `system_profiler` is the incorrect party here.

[2015-05-31 20:03] sarim commented on #14
Hmm. I've seen some other apple tools generate XMLs with string yes/no.
Well, will wait for `UnmarshalPlist`

[2015-07-28 19:04] akrennmair opened #15 "Various panics found through go-fuzz"
Hi,

Just wanted to let you that I tested go-plist using go-fuzz and the following code snippet:

[code]

The tool found several panics. In order to reproduce this, you can find the files here in my Google Drive: https://drive.google.com/file/d/0B8eVqk16QdZ6Y21mTm8zZnVGZlE/view

The .output files contain the respective stack traces. The file without any suffix contains the actual data fed to the F

[2015-08-04 09:07] DHowett commented on #15
Thanks! I'll shore up the library as I find time in the coming few days!

[2015-08-25 15:58] abourget opened #16 "howett.net serves an invalid cert."
With Go 1.5, I get:

[code]

and running `go get` with `-v` shows that there is an invalid cert served at `howett.net`.

The only solution is to `go get -insecure` but this is not done by many automated tools.. so it really blocks automatic acquisition of the package. Can this be fixed ? :)

thanks!

[2015-09-22 10:29] IUSR commented on #16
Same issue here with go 1.5.1. A workaround could be to import the github repo path instead, though.

[2015-10-12 20:27] sapieneptus opened #17 "How to handle unknown types?"
Apple's Provisioning Profile plists sometimes contain variable types. E.g., `AssociatedDomains` for an app are sometimes Arrays and sometimes Strings. So if we have an interface:

[code]

We will get an error if we try to decode this and the AssociatedDomains are a string.

Is there some way to handle this case?

[2015-10-18 05:27] DHowett commented on #17
There's an open pull request #13 implementing custom unmarshalling. I haven't had a chance to look over it, but I do want to get it merged in at some point. You could give it a try!

[2015-10-18 07:40] shurcooL commented on #8
#7 has been merged, so this can be closed now.

[2015-10-18 15:00] #8 closed

[2015-10-23 02:50] sbdchd commented on #16
Although the issue still persists, the following solution worked for me.
[code]

[code]

[2015-12-30 23:51] DHowett commented on #15
(I'm now using go-fuzz, starting with your crashers and a corpus of valid property lists. Thanks so much for the report/s.)

[2016-07-08 16:53] DHowett commented on #15
A fair few of these are fixed, thanks to you reporting this. There are a couple crashers in `text.go` that I'm working on the right solution to, but binary and xml plist parsing are far more resilient.

[2016-07-08 16:53] DHowett commented on #15
I'm leaving the issue open as a discussion and placeholder for future fuzzing issues.

[2016-07-20 08:10] SuperGod opened #20 "parse bplist file result is error"
The plist file is a binary plist file, it's struct is like this:

test.plist:

[code]

and I use this code to parse it:

[code]

but the output is this:

[code]

[2016-07-20 20:54] shurcooL commented on #20
It would probably be helpful to attach that binary plist list file to make this issue easier to reproduce.

[2016-07-20 23:06] DHowett commented on #20
This is an artifact of how Apple stores UID types. UIDs are just numbers,
but they're indexes into keyed archives like the one you're looking at. In
the bplist format, they've allocated a new tag type (0x80) for them;
however, in the XML format, they haven't. The same UID that a bplist stores
natively is represented as a dictionary containing CF$UID in XML.

go-plist attempts to be cognizant of th

[2016-07-21 02:28] SuperGod commented on #20
@DHowett , so how can I know that a value is an integer or CF$UID?

[2016-07-22 05:18] DHowett commented on #20
That's a good question, and one I'm open to suggestions on. I'm considering a `plist.UID` type that can unmarshal into an integral struct field. I don't want to spring surprising types on `map[string]interface{}` consumers, however.

Before we go any further, though, is that what this report is really about? I'd hate to take it down the wrong path.

[2016-07-24 15:26] SuperGod commented on #20
I think maybe  the same results of the xml and bin plist  with same struct is good

[2016-08-03 23:47] alaska opened #21 "add flag to flatten a single-value array"
I'm currently using this library to create plists for launchd.  In a couple of locations, the specification says `<dictionary [of something] or array of dictionaries [of the same thing]>`.  I can't imagine launchd is the only place to do this.  It would be nice to be able to have a flag `flattensingle` such that, given

[code]

The output would be

[code]

Rather than what it is now:

[code]

[2016-08-03 23:56] DHowett commented on #21
That's a cool feature. :+1:!

I do, however, have to ask: Will launchd be upset if it gets a
single-element array?

[2016-08-11 18:19] alaska commented on #21
A great question, and one I intend to test shortly. If it does, that's your use-case right there.  If not, this could still be useful, but could also be backlogged.

[2016-08-20 13:45] djui commented on #16
Please update the README.

[2016-08-21 03:06] shurcooL commented on #16
I can reproduce with Go 1.7 right now:

[code]

[2016-10-21 13:19] satta opened #22 "Ply still imports "howett.net/plist""
The `ply` subdirectory still imports `"howett.net/plist"` while there is a GitHub repo URL for it.
This keeps the problem mentioned in #16 around, which is currently a dealbreaker when using helper tools like `dh-make-golang` (https://people.debian.org/~stapelberg/2015/07/27/dh-make-golang.html).

Please import the GitHub repo for plist in ply.

[2017-03-06 01:48] DHowett commented on #16
I am very sad about this. I'm going to look at further remediation steps such as serving a legitimate certificate from howett.net.

I'd prefer to have "canonical" import paths for my packages that root them to my web presence, but we all know how well that works. 🤕

[2017-03-06 01:51] DHowett commented on #21
@alaska Did you ever test how launchd reacts to this situation? I'm looking at working on plist package improvements, and I'd like to prioritize my open issues. :smile:

[2017-03-06 06:27] DHowett commented on #17
Duplicate of #13.

[2017-03-06 06:27] #17 closed

[2017-03-06 06:33] DHowett commented on #13
@sapieneptus @groob @nhelke

The model I think I'm going to go with is to expose `plist.Value`, an interface representing any plist-codable type, as well as the `Marshaler` and `Unmarshaler` types.

`plist.Marshaler.MarshalPlist` should have the signature `MarshalPlist (plist.Value, error)`, and any non-error value returned will be coded in that element's place in the property list.

`plist.Unmars

[2017-03-06 08:48] DHowett commented on #14
Closing as a dupe of #13.

[2017-03-06 08:48] #14 closed

[2017-03-07 01:35] nhelke commented on #13
I assume this new public `plist.Value` will have Marshal` and `Unmarshal` methods? Or functions which can go to and from `plist.Value` to `interface{}` using the existing mechanisms including tags. This would be a boon in custom marshalers/unmarshalers.

I would I would keep it simple and go with `UnmarshalPlist(plist.Value) error`. Also prefer this because of the symmetry with the MarshalPlist si

[2017-03-10 04:07] DHowett commented on #16
howett.net should no longer serve an invalid cert. The canonical import path will remain `howett.net/plist`.

[2017-03-10 04:07] #16 closed

[2017-03-10 04:08] DHowett commented on #22
Since `howett.net` no longer serves an invalid cert, this should not be an issue. The canonical import path will remain `howett.net/plist` (and I'll light up `howett.net/plist/ply`)

[2017-03-10 04:13] DHowett commented on #22
The import path `howett.net/plist/ply` is lit up. The meta tags redirect them both here.

[2017-03-13 15:51] alaska commented on #21
I haven't had the time to dig into this.  I'll try and break some time off this weekend.

[2017-03-20 21:47] #13 closed

[2017-03-20 21:49] DHowett commented on #3
The changes in 221fc98 should address this somewhat; you can use a custom unmarshal type.

[2017-03-20 21:49] #3 closed

[2017-03-20 21:49] DHowett commented on #21
The changes in 221fc98 should address this. I added an example (well, a test case) for an array that is serialized as a single object or an array depending on how long it is.

[2017-03-20 21:49] #21 closed

[2017-03-20 21:51] DHowett commented on #21
That example is [here](https://github.com/DHowett/go-plist/blob/221fc98d0abb603ac75d71b08f60a506751d8665/common_data_for_test.go#L81).

[2017-03-20 23:20] DHowett commented on #20
Full support for UIDs was added recently; if that's not ideal, please reopen this issue.

XML and Binary property lists will now serialize/deserialize UIDs properly under the covers; for XML that is as a dictionary containing `CF$UID`.

You will get a `plist.UID` (typedef for `uint64`), and it can be unmarshaled into an int64/uint64/other integral type, assuming it fits.

[2017-03-20 23:20] #20 closed

[2017-03-20 23:47] DHowett opened #23 "Interface-unmarshaling a self-referential array/dict will overflow the stack"
Found via fuzzing;

[code]

[2017-03-21 00:57] DHowett commented on #15
After all of the above fixes, I ran go-fuzz for ~25 minutes and didn't hit any more crashers other than #23, which will require a minor architectural change to fix.
Closing this in favor of tracking individual issues.

Thanks again, @akrennmair!

[2017-03-21 00:57] #15 closed

[2017-03-21 12:33] KenjiTakahashi opened #24 "Disappearing commits?"
It seems that my changes from #19 went into abyss.

You're not `--force` pushing to master, are you :-)?

[2017-03-21 15:51] DHowett commented on #24
No known force pushes from me! Ugh, sorry.
I do have a mirror with git.howett.net; perhaps that is broken.

On Mar 21, 2017 5:33 AM, "Karol Woźniak" <notifications@github.com> wrote:

[2017-03-21 16:07] DHowett commented on #24
@KenjiTakahashi Terribly sorry about that. It does look like the gitolite mirror stomps commits.

I reintroduced your patch and tests with 445e867a489c0469c517d26865e88c4a17e9b4b4.

I hope nothing else got sucked into the abyss with it. Would you mind checking your git history?

☹️

[2017-03-21 17:55] KenjiTakahashi commented on #24
Looks fine on my side now, cheers.

[2017-03-21 17:55] #24 closed

[2017-03-23 02:38] DHowett commented on #23
This particular case got broken by the stricter checks on object ref tables/offset tables.

[2017-03-30 05:04] #23 closed

[2017-03-31 16:01] DHowett opened #25 "The text parser is difficult to follow and does not emit good error messages."
Consider re-implementing as a true lexer/parser pair.

[code]

[2017-03-31 16:09] DHowett commented on #25
Ideally, we could get error messages like:

`<document>:3:10: expected unquoted-string`

`<document>:4:1: dictionary literal (from line 2 col 1) unterminated`

[2017-04-15 21:05] DHowett opened #26 "Text plist parser doesn't support UTF-16"

[2017-04-15 21:07] DHowett opened #27 "Text plist parser doesn't support legacy strings documents"
Strings documents do not need to contain a toplevel dictionary or even values for their keys.

These are both valid:

[code]

[code]

[2017-04-15 21:07] DHowett commented on #27
(they're also usually in UTF-16; ref #26)

[2017-04-15 21:14] DHowett commented on #27
cf. [the old-style plist parser](https://github.com/Microsoft/WinObjC/blob/develop/Frameworks/CoreFoundation/Parsing.subproj/CFOldStylePList.c) (MIT-Licensed, derived from Swift), the following documents should be equivalent:

[code]

[code]

[code]

The third, however, must be distinguished from `"X"` -- the presence of the semicolon triggers the dictionary parsing fallback. If it is missing, the

[2017-04-15 21:19] DHowett commented on #27
correction above: Apache, not MIT.

[2017-04-24 03:22] #25 closed

[2017-04-24 03:22] #26 closed

[2017-04-24 03:22] #27 closed

[2017-07-26 09:04] xdeng opened #29 "Do you have a tutorial or an example?"
Do you have a tutorial or an example?   I did not find the link

[2017-07-26 22:08] shurcooL commented on #29
There is a simple use example in the [README](https://github.com/DHowett/go-plist/blob/master/README.md).

There are also 5 examples in [godoc](https://godoc.org/howett.net/plist#pkg-examples).

[2017-07-27 03:04] xdeng commented on #29
@shurcooL Thank you

[2017-07-29 20:24] DHowett commented on #29
@shurcooL thank you.

@xdeng I'll close this out since it looks like you've been helped. Feel free to reopen it if you need more assistance!

[2017-07-29 20:24] #29 closed

[2017-09-02 17:27] DHowett opened #30 "Release v1.0"
Evaluate what plist needs to do to reach 1.0.

* [ ] Consider looking at the XML parser and bringing it in line with the text parser.
* [ ] Look at the number of buffer copies and full reads we're doing for text and binary
  * Only XML needs a streaming buffer; binary and text now need to read the whole document and retain references to it.

[2017-10-01 00:06] Vish666 commented on #30
Hi! It's a pity, but it does not work in my case ...
I have source bplist structure like this:
<key>DictionaryRes</key>
	<dict>
		<key>1</key>
         		<integer>10023</integer>
		<key>2</key>
	        	<integer>20234</integer>
		<key>3</key>
			<integer>350023</integer>
	</dict>

[2017-10-01 00:07] DHowett commented on #30
Hi @Vish666. Please file a _new_ issue for your problem instead of reusing the "Release v1.0" issue.

Thank you.

[2017-10-01 00:10] Vish666 opened #31 "Int key value"
Hi! It's a pity, but it does not work in my case ...
I have source bplist structure like this:
[code]

[2017-10-01 00:22] Vish666 commented on #30
Ok!
Thank you.

[2017-10-01 01:45] DHowett commented on #31
This isn’t enough information to figure out what’s going wrong. That’s a
perfectly acceptable (fragment of a) property list.

Can you share the code that is failing, and the error you’re getting?

Thanks.
--
-- Dustin L. Howett

[2017-10-01 10:00] Vish666 commented on #31
Hi Dustin
I prepared a small piece of data

[code]

pice of code

[code]

I do not get an error. But I do not get a completely filled out structure "data" as at xml

[TestBplist.zip](https://github.com/DHowett/go-plist/files/1347042/TestBplist.zip)

[2017-10-01 10:17] Vish666 commented on #31
I seem to have incorrectly called the issue... Most likely the problem with arrays. Or in my head :)

[2017-10-01 11:42] Vish666 commented on #31
Dustin!!!
My mistake! I figured it out. I prepared the structure and everything in it was decomposed. I guess I do not understand how the interfaces work, I thought that I should see all the data there.
Sorry for disturbing!

[2017-10-01 11:42] #31 closed

[2017-10-17 08:18] varac commented on #22
@DHowett Can you explain your reasoning why you don't want to include the github repo URL instead of `howett.net` ?

It's considered as an unknown hoster to `dh-make-golang`:

[code]

While this still can get worked around easily by allowing unknown hoster with the `-allow_unknown_hoster` flag, it would be much easier to use the already existing github URL.

[2017-10-17 09:33] varac commented on #22
Packaging gets even harder because `dh-make-golang` is not recognizing any packaged version of plist:

[code]

With the github URL, it would have recognized that there's already a debian package called `golang-github-dhowett-go-plist-dev`.

So if you want to make debian packaging easier for all projects that build-depends on plist, pls consider using the github URL.

[2017-10-17 15:49] DHowett commented on #22
Hi @varac. Sure, I'll get into the rationale a little bit.

I place a high (though perhaps unreasonably so!) value on being able to control certain parts of my own infrastructure. That includes not taking a sole dependency on any particular provider. I very much appreciate GitHub as a service, and I _absolutely_ want to be properly packageable on Debian, but I think of my projects as foremost name

[2017-10-17 16:40] shurcooL commented on #22
To play devil's advocate, what if `dh-make-golang` didn’t have good support for Go packages on github, should he move plist to a different code host then?

I think a better solution would be to improve `dh-make-golang` to have better support for vanity import paths.

[2017-10-18 07:15] DHowett commented on #22
@shurcooL I completely agree. I'm at a loss (as is the `dh-make-golang` maintainer) for what Debian could do better in this regard. Right now, if you pass `-allow...` it strips off the known public suffix and embeds everything else in the package name. Since that's hidden behind a flag, it's not really accessible.

Maybe that's a good generic solution?

As a mitigation, `dh-make-golang` will as of

[2017-10-18 07:29] shurcooL commented on #22
@DHowett This is a small issue, but it would probably help to update https://github.com/DHowett/go-plist/blob/master/cmd/ply/README.md#installation to say `howett.net/plist/cmd/ply` instead of `github.com/DHowett/go-plist/ply` (which doesn't even exist anymore, since the command was moved in `cmd` subdirectory).

[2017-10-18 08:23] varac commented on #22
@DHowett Sure, that's fine. Thanks alot for fixing this !

[2017-10-18 16:59] DHowett commented on #22
@shurcooL: thanks for the catch.
@varac: excellent. I'll close this out then.

[2017-10-18 16:59] #22 closed

[2017-11-22 16:21] AndrewOrr opened #32 "plist to xml"
Is the an easy way to dump a generic plist to an xml file?

[2017-11-22 17:37] DHowett commented on #32
Yeah! Look in `cmd/ply`. It's a swiss army knife of plist tools!

You can convert one to XML with:

[code]

(or, if you'd like the file to be pretty)

[code]

[2017-11-26 20:42] #32 closed

[2017-11-28 00:02] lsegal opened #33 "Canonical howett.net/plist package is not "go gettable""
I am running into an issue with `dep ensure` in which [dep](http://github.com/golang/dep) expects the `howett.net/plist` package to be ["go gettable"](https://github.com/golang/dep/issues/1267), in other words, that it follows the same ["Remote import paths" lookup rules](https://golang.org/cmd/go/#hdr-Remote_import_paths) expected by `go get`. It turns out this package is not following these rule

[2017-11-28 03:01] DHowett commented on #33
This should now be fixed. The _letsencrypt_ installer disabled the `go get` redirect on howett.net.

Thanks for the report!

[2017-11-28 03:01] #33 closed

[2017-11-28 03:55] DHowett commented on #33
(and now that I'm home: fix confirmed through _dep_)

[2017-11-28 04:27] lsegal commented on #33
Thanks for the quick fix!

[2017-12-06 13:59] cj123 opened #34 "XMLFormat encoded boolean values are not self-closing tags"
I'm using go-plist to generate a LaunchAgent plist. The struct definition for this plist is as follows:

[code]

Given some example application data, the following plist is generated:

[code]

When running launchctl load to test this setup, an invalid plist error is returned.
[code]

Changing the plist to:

[code]

(self closing `<true/>` tag), makes the above command succeed.

I've had a quick lo

[2018-02-11 05:29] DHowett opened #36 "Negative 64-bit integers read from binary property lists are not treated as signed"

[2018-02-11 05:31] #36 closed

[2018-02-17 06:09] #34 closed

[2018-06-04 20:49] hilljgo opened #37 "Unmarshal plist with duplicate keys results in panic"
When attempting to unmarshal a plist that contains duplicate keys, a panic is hit.

Example code:
[code]

The following panic stack trace is returned:
[code]

[2018-06-06 06:42] DHowett commented on #37
Awesome, thanks!
I wonder what the correct behavior is here.
It's clearly not panicking. However, it can't produce a useful, safe, two-way serializable answer in every case.

[2018-06-06 06:42] DHowett commented on #37
(Also: no property list emitter should have generated one with duplicate keys. Is it handcrafted?)

[2018-06-06 07:14] hryx commented on #37
Hi @DHowett. I worked with @hilljgo when we uncovered this, and yep, it was exposed by a hand-crafted plist, which is a common use-case for us.

As I see it, there are two ways to go:

1. Treat redundant dictionary keys forgivingly, and let the last encountered value for a given key overwrite any previous ones for the same key. From what I've seen, some deserializers have this behavior (even if it

[2018-06-06 07:18] DHowett commented on #37
1. Apple's property list parsers take the first entry with a given key to be canonical.
2. This only happens when you unmarshal into a `map[string]interface{}`, not an `interface{}` (!), and
3. I chose to fix it with approach 1. `encoding/json` does the same thing, and 2 ended up being somewhat more burdensome.

[2018-08-02 09:27] jukito opened #38 "howett.net/plist not available?"
When I try to access to howett.net/plist, it givce me a 404 error from apache

Greetings!

[2018-08-02 10:13] jukito commented on #38
More info:

[root@localhost]# go get howett.net/plist/cmd/ply
# cd .; git clone https://gitlab.howett.net/go/plist /root/go/src/howett.net/plist
Cloning into '/root/go/src/howett.net/plist'...
error: RPC failed; result=22, HTTP code = 404
fatal: The remote end hung up unexpectedly
package howett.net/plist/cmd/ply: exit status 128

[2018-10-01 18:00] jnoxon commented on #38
Yes, this server is down and has gone down in the past. Is there a good workaround to force go mod to get it from github? I'm trying to import another project which has a go.mod which has both repos specified.

[2018-10-02 02:16] jnoxon commented on #38
For what it's worth, I ended up forking this repo, adding a go.mod with the module name howett.net/plist, and then using the replace directive in my own Go project's go.mod. This works even though my project doesn't directly depend on howett.net/plist.

[2018-10-02 03:37] DHowett commented on #38
(There was a DNS hiccup earlier, but it should be resolved.)

[2018-10-02 15:58] jnoxon commented on #38
Any chance of adding go modules support? This would remove the dependency on your server altogether.

[2018-10-03 04:51] DHowett opened #39 "Offer howett.net/plist as a go1.11+ module"

[2018-10-03 04:51] DHowett commented on #38
@gracenoah (it's impressive that you hit the 10 minute window I was doing maintenance to make sure this doesn't happen again)

@jnoxon that's a fair request. #39

[2018-10-03 04:51] #38 closed

[2018-11-24 03:52] DHowett commented on #39
I'm not sure whether ply's dependencies belong in `go.mod`, but that's the way it is today.

[2018-11-24 03:52] #39 closed

[2018-11-26 02:07] codeskyblue commented on #38
404 +1

[2018-11-28 00:02] codeskyblue commented on #38
maybe dns error . I guess

[2018-11-28 10:17] maelvalais opened #40 "Cannot 'go get' using go 1.11 modules"
Dear Go-plist, I hit a slight bump using `GO111MODULE=on go get github.com/dhowett/go-plist`:
[code]

Have you an idea on what is causing that? :smiley:

[2018-11-28 10:19] maelvalais commented on #40
In `go.mod`:
https://github.com/DHowett/go-plist/blob/591f970eefbbeb04d7b37f334a0c4c3256e32876/go.mod#L1

I guess it should read

module github.com/dhowett/go-plist

[2018-11-28 17:13] maelvalais commented on #40
Hmm 🤔 some package I rely on is probably using the wrong address then

Sorry for that! Thank you!!

[2019-01-16 17:07] celer commented on #38
go: finding howett.net/plist v0.0.0-20180609054337-500bd5b9081b
go: howett.net/plist@v0.0.0-20180609054337-500bd5b9081b: git fetch -f https://gitlab.howett.net/go/plist refs/heads/*:refs/heads/* refs/tags/*:refs/tags/* in 544bdc6ac7fad63e2b97e248bf9b9d8ef862eae3a22968fd865be316299771ff: exit status 128:
        error: RPC failed; result=22, HTTP code = 404
        fatal: The remote end hung up une

[2019-01-16 20:01] DHowett commented on #38
@celer

Thanks for the report.

I haven't had any outage events in rather a while now, and I can't reproduce this failure:

[code]

I appreciate that there might be issues between your machine and Azure, and I'd definitely like to get to the bottom of them. Does a standard `git fetch https://gitlab.howett.net/go/plist` fail for you?

[2019-01-20 05:40] DHowett commented on #38
AWS! That’s something I can probably test. Thank you!

[2019-01-21 00:55] DHowett commented on #38
@thatsatechnique
I've tried this from AWS & made a minor adjustment to the `go-import` meta tag. It appears that _on occasion_, hosted git services require `.git` to be present at the end of an otherwise well-formed URI.

I wasn't able to reproduce the root issue, and I'd love your help in doing so.

Can you run through the following commands? I've included a bit of my expected output.

[code]

[2019-01-21 01:40] thatsatechnique commented on #38
That did it.  I got similar results as you posted above and made it through a build without error.  This was tested on a DigitalOcean CentOS7 droplet which was failing yesterday.  Thanks for the quick turnaround on this!

[2019-01-21 01:47] DHowett commented on #38
I should be thanking _you_ (all) for putting up with my twisted desire to run my own infrastructure. Thanks for testing/confirming/putting up with (...). :smile:

[2019-01-29 09:11] jpo-joyent commented on #38
Down again... https://archive.fo/NSieT, https://archive.fo/QRNtl, https://archive.fo/TZMvq.

It's been down several times in the past month. Are you sure you don't want to reconsider letting GitHub host this? If not, I may have to switch to a fork or something :(

[2019-01-29 15:11] jnoxon commented on #38
@jpo-joyent I ended up cloning the repo to a private server and using a go.mod replace directive so my other projects will use it. Out of the hundreds of build dependencies in my project's build pipeline, this is the one that regularly breaks the build.

[2019-03-27 21:21] nodirt commented on #38
down again :(

[2019-03-28 00:16] DHowett commented on #38
My metrics are not reporting an outage, and it looks like everything is
reachable from pretty much everywhere. Can you provide a bit more
information about the failure?

On Wed, Mar 27, 2019 at 2:21 PM Nodir Turakulov <notifications@github.com>
wrote:

[2019-03-28 00:19] nodirt commented on #38
[code]

[2019-03-28 01:55] codeskyblue commented on #38
I made a fork. https://github.com/fork2fix/go-plist, so it is working for now.

[2019-03-28 02:06] DHowett commented on #38
Would you mind trying with "curl https://howett.net/plist?go-get=1"? The Go
client adds that query parameter to the request, which most conforming
implementations require to get the correct response.

On Wed, Mar 27, 2019 at 6:55 PM shengxiang <notifications@github.com> wrote:

[2019-03-28 06:26] codeskyblue commented on #38
[code]

@DHowett it works in my PC. but if you change to github.com I think it will be more stable and I dont have to make a fork version.

[2019-03-29 02:22] cehoffman commented on #38
The issue right now is the certificate has expired.

![image](https://user-images.githubusercontent.com/27545/55205095-753b9600-519f-11e9-8623-3d387ee25dc9.png)

[code]

[2019-03-29 02:30] DHowett commented on #38
That's now fixed. Thanks.

[2019-07-02 20:55] ereOn opened #43 "howett.net/plist is returning a 404, which breaks all packages"
Hi,

Apparently,  https://howett.net/plist returns a 404 which breaks all depending packages.

Thanks,

[2019-07-03 00:34] DHowett commented on #43
Hey @ereOn, thanks for the report. I can't reproduce this!

Would you mind sharing the output of `curl -v 'https://howett.net/plist?go-get=1'`? When I run it, I get this:

[code]

If you visit howett.net/plist in a browser, you're getting a different result than `go get` will get. Adding `?go-get=1` makes sure you're getting the same experience as Go.

[2019-08-10 16:41] rogpeppe opened #44 "unmarshal into map with int keys results in panic"
Unmarshaling into a map with int keys will result in a panic.
Although this key type is expressly forbidden, it would be more friendly to return an error in this case, or at least produce a panic message that's clearer than this:

[code]

Example code:

    https://play.golang.org/p/Qd8TRd2C0LV

[2019-08-16 11:55] Massad opened #45 "Nested array - CustomURL - CFBundleURLSchemes"
Unable to reach to the custom URL values as seen below.

<img width="866" alt="Screen Shot 2019-08-15 at 10 14 40 PM" src="https://user-images.githubusercontent.com/3076722/63165917-d45e5200-c03d-11e9-9811-5961820042f4.png">

Is there any way to capture them? I've reached to this result: `[{[myapp myapp2]}]` but i'll need to strip it and it's not efficient.

[code]

[2019-08-17 22:04] #45 closed

[2019-08-24 17:30] DHowett commented on #44
Is this error message descriptive enough, or should it be more specific?

[code]

[2019-08-24 17:49] DHowett commented on #45
(did you close this because you solved it, or because it wasn't responded to? this seems like it should work, so should be a valuable bug to track.)

[2019-09-26 02:52] youshutong2080 opened #46 "module name error"
please replace DHowett/go-plist with github.com/DHowett/go-plist in go.mod file

[2019-09-26 05:29] DHowett commented on #46
you should just import it via howett.net/plist. Why not?

[2019-09-28 22:36] #46 closed

[2019-09-28 22:38] DHowett commented on #43
(no other reports, and no repro is forthcoming; closing. let me know if it kept up.)

[2019-09-28 22:38] #43 closed

[2019-10-03 17:16] timaebi opened #48 "Set line length of base64 data"
I want to write a mobileconfig [configuration profile](https://developer.apple.com/business/documentation/Configuration-Profile-Reference.pdf) using this library. In particular I want to add a few Certificate Payloads to a configuration profile. The specifications (page 19) for `PayloadContent` says that the certificate should be base64 encoded with a line length of 52. Unfortunately if I use a by

[2019-12-25 06:16] blacktop opened #49 "Cannot handle empty <integer>"
I'm trying to parse the `__PRELINK_INFO.__info` section on an iOS kernelcache and the embedded plist gives the above error.

Here is a snippet.

[code]

I know this isn't valid plist/xml, but Apple seems to think it is?

Is there anything I/we can do?

Thanks!!

[2019-12-25 06:20] blacktop commented on #49
Here is the line: https://github.com/DHowett/go-plist/blob/master/xml_parser.go#L89

[2019-12-26 21:53] DHowett commented on #49
So, this is a really curious case. Apple has a number of different XML property list parsers, and cases like this really show off their differences.

I think the kernel one is closer to an actual XML parser. The CoreFoundation one, however, is not. That is most evident here:

[code]

[code]

Unfortunately, they haven't really specified the format quite well enough for us to make a determination ab

[2019-12-27 04:26] blacktop commented on #49
The plist embedded in the binary starts with a <dict> tag with no header.  I fixed it in my fork here, but it is a total hack and probably not a good solution: https://github.com/blacktop/go-plist/commit/a935e2ea209256bca0c6ac1e23834600bb29a79a#diff-b46f388ecac749399ab6e09b6c0f1121L89

[2020-02-16 07:01] Artoria2e5 opened #50 "Missing support for GNUstep <[ base64data ]>"
GNUstep plists have a more efficient data encoding, and it is the `<[ base64data ]>` format:

GNUstep source that emits the format:
https://github.com/gnustep/libs-base/blob/753c907938c2a8c4d00cf0fbe01b7e0d020f0064/Source/NSPropertyList.m#L1951-L1956

GNUstep source that parses the format:
https://github.com/gnustep/libs-base/blob/753c907938c2a8c4d00cf0fbe01b7e0d020f0064/Source/NSPropertyList.m#L1

[2020-02-21 13:19] PrMinisterGR opened #52 "Marshalling happens in reverse order."
Hello. This is my data structure:
[code]
This is the code that adds the data to it:

[code]
This is how I marshal it:
[code]
When I print it, I get the plist with the data in the reverse order.
[code]
Hopefully I'm doing something obviously wrong.

Here is my data structure simply printed with Println:
[code]
Everything looks in the correct order in the data structure.

Reversing it from my data s

[2020-02-24 08:37] Artoria2e5 commented on #52
First of all you should not be concerned about this order, because cfDictionary is not supposed to be order-sensitive.

Now here is your answer. Before the plist generators write the dictionary, they sort it by key just so that the results are always the same no matter the order one assigned the dictionary. Now "p" goes before "u" in the alphabet, so "password" comes before "username".

https://gi

[2020-02-24 08:43] Artoria2e5 opened #53 "Turn UID into CF$UID for (GNUstep) text format too"
go-plist currently does not interpret cfUID values for the text generator. This is different from the GNUstep behavior, which [always generates CF$UID dictionaries](https://github.com/gnustep/libs-base/blob/753c907/Source/NSKeyedArchiver.m#L125) so that they can be put into any plist. (Their binary encoder [picks these out](https://github.com/gnustep/libs-base/blob/753c907938c2a8c4d00cf0fbe01b7e0d

[2020-02-24 08:47] PrMinisterGR commented on #52
I guessed as much later. Thanks for the reply, it will be really useful for people using this for the first time with no previous plist experience :)

[2020-02-25 04:29] DHowett commented on #52
Indeed! Thanks @Artoria2e5 for the answer. :smile:

[2020-02-25 04:29] #52 closed

[2020-02-25 04:44] #53 closed

[2020-04-19 20:48] DHowett commented on #50
Thanks again. I forgot to mark this one closed when #51 merged.

[2020-04-19 20:48] #50 closed

[2020-07-29 03:04] catilac opened #56 "OpenStepFormat parsing can't handle escaped quotations"
` OPXBrowserSignature = "designated => identifier \\"com.apple.Safari\\" and anchor apple\\n";`
As soon as it parses the escaped quotation, it incorrectly looks for a semicolon.
I'm going to try and get a PR up for this in the next couple days.

[2020-07-29 04:13] DHowett commented on #56
I'm sorry, I'm not sure I understand. 😄

Those quotes _aren't escaped_, because the backslashes _are_. Is this well-formed?

[2020-07-29 11:55] catilac commented on #56
Ah! You're right. My mistake 😅
This data is from a call to 'defaults read' on macOS. I expected it not to allow for malformed data. I'll look into that!

[2020-07-29 23:19] #56 closed

[2020-07-29 23:23] catilac opened #57 "Byte summary case isn't handled"
When parsing the output of the command `defaults read` this parser breaks when going over what I'm calling "byte summaries"

It looks like this:
[code]

I think it would be sufficient to parse this as a dictionary, and treat the `bytes` key as a string.
What do you think? Happy to build this functionality, but will wait for your feedback :)

Thanks!

[2020-07-30 05:29] DHowett commented on #57
Thanks for the request!

So, here's the problem with `defaults`: the output from defaults is not a property list. It pretends to be one, but it doesn't follow a number of the basic formatting rules. It's just not a recognizable property list format. I'm not sure that I want to add support for various not-actually-plist formats to the plist library :smile:

I have to ask, though: the _input_ to `de

[2020-07-30 23:30] catilac commented on #57
ah! i definitely see what you mean.
`defaults read` gives a giant blob of "plist" defaults data for all the domains. would you be open to a mode that can manage this weird output? Being able to use `defaults read` gets me exactly what i'm looking for, without having to scan for plist files.

[2020-07-31 01:22] DHowett commented on #57
That's a fair point. It might be worth having a smaller separate package that just takes the text plist parsing code out of this one and handles defaults' output 😄

That way, users don't have to have a bunch of XML/Binary parsing they don't need, and this package can keep up with the plist standard without worrying about breaking defaults' parsing!

[2020-07-31 02:23] catilac commented on #57
Sounds good! :)

[2020-07-31 03:55] #57 closed

[2020-08-06 06:24] bhuvanvenkat-plivo opened #58 "gitlab.howett.net down?"
Looks like the site is down and go get is failing.
Error:

[code]
@DHowett Can you please help me out here?

[2020-08-06 06:37] manish-plivo commented on #38
Again hornet.net is down?

go: finding howett.net/plist v0.0.0-20181124034731-591f970eefbb
go: howett.net/plist@v0.0.0-20181124034731-591f970eefbb: git fetch -f https://gitlab.howett.net/go/plist.git refs/heads/*:refs/heads/* refs/tags/*:refs/tags/* in /Users/User/go/pkg/mod/cache/vcs/a4d32d8ad7ec027c9f37ec5b0390977f7cd632241b9c621f0c7d34bc0b6acc95: exit status 128:
	fatal: unable to access 'https

[2020-08-06 06:49] DHowett commented on #58
Thanks. I've kicked the VM. Next update in ~10 minutes.

[2020-08-06 06:49] DHowett commented on #58
CC @manish-plivo, who reported this in #38.

[2020-08-06 06:59] DHowett commented on #58
I've changed the `howett.net` go get redirector to point to this repo. `go get howett.net/plist` now works on my end. Mind giving it another try?

[2020-08-06 07:01] bhuvanvenkat-plivo commented on #58
@DHowett Works now!

[code]

[2020-08-06 07:04] bhuvanvenkat-plivo commented on #58
@DHowett Thanks for the quick help!

[2020-08-06 07:05] DHowett commented on #58
Thanks for the report. Really sorry about that. You all are faster than my server alerting :smile: which is something I should fix.

[2020-08-06 07:05] #58 closed

[2020-09-22 08:11] ihbing opened #59 "Error: reflect: call of reflect.Value.Type on zero Value"
# the test code
https://github.com/DHowett/go-plist/blob/3b63eb3a43b59c776909681ed1fcb412b47d3c9a/decode_test.go#L178
# result
![QQ截图20200922160822](https://user-images.githubusercontent.com/27600008/93858131-4055c400-fcee-11ea-8d80-522a6c751a9c.png)

[2020-09-22 17:16] DHowett commented on #59
Thank you!

This is on purpose. The `TestFormatDetection` test determines whether `plist` can _detect the format_, not whether it can unmarshal the object tree.

The test is passing because the detected formats are correct, but it is printing an error because it tries to unmarshal the object tree.

[2020-09-22 17:16] #59 closed

[2020-10-25 12:00] mwpcheung opened #61 "marshal byte array failed"
[code]
test result
error reflect: call of reflect.Value.Bytes on array Value
--- FAIL: TestMarshal (0.00s)
    app_test.go:19: error marshal

[2020-10-25 22:25] DHowett commented on #61
Good find, thanks!

[2020-10-25 23:00] #61 closed

[2020-10-25 23:00] DHowett commented on #61
Enjoy! I added some test coverage for this as well. :smile:

[2020-11-04 02:39] SolskGaer opened #62 "how to define nested structure"
I got a nested structure that formed like `<dict><dict><array><dict></dict></array></dict></dict>`, and I can't get the innermost dict parsed appropriately, how do I define the struct while parsing this structure?

[2020-11-04 03:07] #62 closed

[2020-11-04 04:09] DHowett commented on #62
Since you closed the issue, I'm guessing you figured it out?

[2020-11-17 04:01] DHowett opened #63 "Don't panic, use error returns!"
This will probably harm code coverage, but panic/recover shouldn't be used for flow control.

[2020-12-02 16:09] lpusok opened #65 "Encoding of aposthropes for OpenStep formatted plists"
Apostrophes are not currently quoted properly, as they are not valid characters in strings unquoted. (https://github.com/opensource-apple/CF/blob/3cc41a76b1491f50813e28a4ec09954ffa359e6f/CFOldStylePList.c#L79)

Opened a  PR:
https://github.com/DHowett/go-plist/pull/64

[2020-12-02 16:10] lpusok commented on #65
@DHowett please check.

[2020-12-03 08:07] #65 closed

[2021-05-19 00:31] pwinkler opened #67 "Module naming in go.mod uses the module "howett.net/plist" instead of "github.com/DHowett/go-plist""
Summary:
The go.mod defines the module name as "howett.net/plist".  The code is hosted and viewable at github.com/DHowett/go-plist , but a "go get" from the Github address will not work due to the discrepancy.

The readme _does_ say to use the personal website instead of Github.com, but this is somewhat of a security issue:  It would be easy to have a completely different codebase on howett.net, d

[2021-06-08 14:42] freekdegreef opened #68 "Can't decode plist file that contains <array>"
I'm trying to decode a plist file that has a structure that's like:
[code]

I keep getting the message "plist: type mismatch: tried to decode plist type `array' into value of type `main.credentialsFile'" when running the code.

My struct looks like this:
[code]

When I remove the `<array>` tags from the XML everything is fine. Can anyone tell me what I'm missing here?

[2021-06-08 16:36] DHowett commented on #68
Sure!

So, a document with an `array` as the root element must be deserialized into an array or slice type -- for a couple reasons. Foremost is that there's no direct conversion between a `[]T` and a `T`, but second is that _there actually could be multiple elements!_¹.

If you change the type of `data` to `[]credentialsFile`, it works fine:

[code]

[code]

¹ Take this document as an example:

[c

[2021-06-09 07:26] freekdegreef commented on #68
Thanks so much! I was already looking in this direction but even looking at other implementations of your library on github I couldn't find this exact use case.

[2021-06-09 14:49] DHowett commented on #68
Happy to help! I’ll close this out for now, but don’t hesitate to comment or file a new issue if you’ve got any other questions/thoughts/etc.

[2021-06-09 14:49] DHowett commented on #67
Sorry, I don’t mean to leave you on read. I’m working on an appropriate response to this, as well as some more documentation, but work has been busy. ETA within 7 days hopefully. :)

[2021-08-15 19:31] gedw99 opened #69 "strong typing of dictionaries"
I assume all possible plist elements are published somewhere by apple

if so then it would be possible to generate a parser/ inspector for correctness

this would also allow constructing plist files programmatically that are strongly typed and also I take any third party plist and parse it for correctness.

Is this interesting / worthy for go-plist ?

Does apple publish the plist dictionaries sone

[2021-08-15 19:50] gedw99 commented on #69
Found the key names per Darwin OS here: https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/AboutInformationPropertyListFiles.html

Unless they have a better source like xml I will have to see rape Thieß pages and sub pages to build a JSON or yaml  file that’s  can be the basis for the plist functionality of parsing for correctness, etc

the m

[2021-08-16 02:41] DHowett commented on #69
@gedw99 thanks for filing this! I'm not totally sure what you're asking for, unfortunately. This library supports parsing a plist into fully type-specified storage.

Reading between the lines, though... are you looking for a tool or specification document that will allow you to produce a type description of an existing property list document?

Something like that could be done with type assertions

[2021-08-20 07:24] gedw99 commented on #69
Hey @DHowett

Sorry i wrote the original issue from a mobile and realised how my spelling screwed it up.

So basically in the GIOUI project you can target Web, Desktop and Mobile ( and Apple TV ), and so i am working on a way for each golang package to be able to add to the Packaging Manifest ( Plist for Apple hardware), and so easily build correct manifest.

Then i had the idea that we also built

[2021-08-20 07:27] gedw99 commented on #69
I also intend to do the same for Android and Web Manifests.

[2021-11-02 00:24] blacktop opened #70 "How to handle plists with keys with commas?"
For example:

[code]

[2021-11-02 15:05] DHowett commented on #70
That's an excellent question. I thought that you'd be able to specify keys containing commas by setting tags on struct fields (ala `plist:"SE,ChipID"`), but it looks like the key parser isn't up to the task.

In the meantime, you may want to unmarshal into a `map[string]interface{}` and pull the data out directly.

[2022-01-28 15:44] al3xandru opened #71 "Question: flatten property"
Is there a way to flatten the structure when unmarshalling?

Example: given

[code]

would it be possible to read the `title` key directly without creating a new `struct` for `URIDictionary`?

thank you